In [1]:
import numpy as np
import matplotlib.pyplot as plt
import random
import statistics
from statistics import stdev 
import pandas as pd
import math

COVID-19 Time Series Data is from:
https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series

We use the time series data for daily new cases information.

In [2]:
import pandas as pd

url="https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv"
df=pd.read_csv(url)

In [3]:
df

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,7/4/20,7/5/20,7/6/20,7/7/20,7/8/20,7/9/20,7/10/20,7/11/20,7/12/20,7/13/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,...,280,280,301,303,307,309,310,310,310,312
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,...,31,31,31,31,31,31,31,33,33,33
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.220800,-66.590100,...,7787,7916,8585,8714,8745,8862,9137,9366,9654,10010
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.335800,-64.896300,...,111,111,112,116,122,144,153,167,181,206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3256,84070016,US,USA,840,NaN,Central Utah,Utah,US,39.372319,-111.575868,...,201,209,217,227,234,243,263,266,270,271
3257,84070017,US,USA,840,NaN,Southeast Utah,Utah,US,38.996171,-110.701396,...,40,40,41,41,45,47,50,54,54,55
3258,84070018,US,USA,840,NaN,Southwest Utah,Utah,US,37.854472,-111.441876,...,1660,1689,1731,1805,1840,1881,1949,2005,2069,2116
3259,84070019,US,USA,840,NaN,TriCounty,Utah,US,40.124915,-109.517442,...,55,55,56,56,59,63,63,65,69,72
3260,84070020,US,USA,840,NaN,Weber-Morgan,Utah,US,41.271160,-111.914512,...,1172,1195,1255,1293,1368,1396,1456,1494,1558,1580

Let's get the total number of new cases per day in the US.

In [13]:
a=df.groupby(['Country_Region']).sum()
a

,UID,code3,FIPS,Lat,Long_,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,7/4/20,7/5/20,7/6/20,7/7/20,7/8/20,7/9/20,7/10/20,7/11/20,7/12/20,7/13/20
Country_Region,,,,,,,,,,,,,,,,,,,,,
US,273609029778,2737432,104327612.0,121198.00905,-290751.983626,1,1,2,2,5,...,2841241,2891124,2936077,2996098,3054699,3117946,3184573,3245925,3304942,3363056

In [14]:
a_T=a.T
a_T

Country_Region            US
UID             2.736090e+11
code3           2.737432e+06
FIPS            1.043276e+08
Lat             1.211980e+05
Long_          -2.907520e+05
...                      ...
7/9/20          3.117946e+06
7/10/20         3.184573e+06
7/11/20         3.245925e+06
7/12/20         3.304942e+06
7/13/20         3.363056e+06

[179 rows x 1 columns]

Here we get the information on total daily new cases in the US according to the dates.

In [1]:
cases_confirmed=a_T.tail(174)
cases_confirmed.rename(columns={'Country_Region': 'Date', 'US': 'Cases_Confirmed'}, inplace=True)

In [30]:
b=cases_confirmed["Cases_Confirmed"]
b

1/22/20          1.0
1/23/20          1.0
1/24/20          2.0
1/25/20          2.0
1/26/20          5.0
             ...
7/9/20     3117946.0
7/10/20    3184573.0
7/11/20    3245925.0
7/12/20    3304942.0
7/13/20    3363056.0
Name: Cases_Confirmed, Length: 174, dtype: float64